.container{
    background-color: #E9E7EA;
    width:1000px;
    max-width: 100%;
    margin:auto;
    padding:50px;
    box-shadow: 0 10px 50px #858585;
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%; 
    row-gap: 0px;
}

.avatar{
    position: relative;
    display: inline-block;
    justify-content: flex-end;
    align-items: center;
    
}

.avatar img{
    position: absolute;
    width:12vw;
    height:12vw;
    top:54%;
    left:75%;
    object-fit: cover;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#avatar-image {
    display: none;
}

.avatar::after {
    content: '+';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #000;
    font-size: 50px;
    pointer-events: none;
    opacity: 0.5;
    margin-left: 9vw;
}
.hide-text::after {
    display: none;
}

.avatar::after:hover {
    background-color: rgba(0, 0, 0, 0.452); 
}

.avatar input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.avatar input[type="file"]:focus + #avatar-image {
    outline: 2px solid #000;
}
.avatar input[type="file"]:valid + img + .avatar::after {
    display: none;
}
.name{
    padding-left: 30px;
    border-left:2px solid #000;
}
.name h1{
    font-weight: 300;
    font-size: xxx-large;
    margin:0px 0 5px ;
    background-color: #E9E7EA;
}
.name .specialize{
    margin:0;
    font-weight: bold;
    letter-spacing: 3px;
    color: #000;
}
.name .contact{
    padding:0;
    list-style: none;
}
.name .contact span{
    display: inline-block;
    background-color: #000;
    width:20px;
    height:20px;
    color:#fff;
    text-align: center;
    border-radius: 50%;
    font-size: small;
    margin-right: 20px;
}
.name .contact li{
    padding:5px 0;
    transform: translate(-40px);
    background-color: #E9E7EA;
} 
input[type="text"]{
    border: none;
    padding: 0;
    width: 70%;
    height: 40px;
    font-size: 16px;
    background-color: #E9E7EA;
}
input[type="tel"],input[type="email"],input[type="web"]{
    border: none;
    padding: 0;
    width: 70%;
    height: 20px;
    background-color: #E9E7EA;
}
input[type="year"]{
    border: none;
    padding: 0;
    width: 25%;
    height: 20px;
    background-color: #E9E7EA;
    text-align: right;
}
input[type="company"]{
    border: none;
    padding: 0;
    width: 40%;
    height: 20px;
    background-color: #E9E7EA;
    text-align: right;
}
.info ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    line-height: 30px;
} 
.info li{
    color: #000;
}

/* h2{
    padding:0;
    margin: 0 0 20px 0;
} */
.intro{
    padding-left: 30px;
    border-left: 1px solid #000;
    text-align: justify;
}
.intro h2{
    color: #090909;
}

.experience{
    text-align: right;
}
.experience h2 {
    color: #000;
}
.experience h4{
    margin:20px 0 10px;
    color: #000;
}
.skills{
    margin-top:  50px;
    color: #000;
}
.experience ul{
    padding:0;
    margin: 0;
list-style: none;
}
.experience li{
    padding:10px 0;
}
.project{
    padding-left: 30px;
    text-align: justify;
    border-left: 1px solid #000;
}
.project h2{
    color: #000;
}

.project h4{
    margin:20px 0 10px;
    color: #000;
}
.project .web{
    color: #0c7373;
    padding:10px 0;
}
.project .location{
    font-weight: 500;
    padding-bottom:10px;
    color: #000;
}
.project .item{
    position: relative;
}
.project .item::before{
    position: absolute;
    width:13px;
    height: 13px;
    background-color: #000;
    content: '';
    border-radius: 50%;
    left: -37px;
}
.editable {
    caret-color: black; /* Màu con trỏ */
}
textarea[type="exp"] {
    border: none;
    padding: 0;
    background-color: #E9E7EA;
    text-align: right; /* Căn phải nội dung trong textarea */
    font-family: Arial, sans-serif;
    width:80%;
    height:80px;
    letter-spacing: 0.5px;
}
textarea[type="input-text"] {
    border: none;
    padding: 0;
    background-color: #E9E7EA;
    text-align: left; 
    font-family: Arial, sans-serif;
    font-size: 13px; 
    letter-spacing: 0.5px;
}
input[type="prj"]{
    background-color: #E9E7EA;
    text-align: left;
    border: none;
    font-weight: bold;
}
input[type="yearl"]{
    background-color: #E9E7EA;
    text-align: left;
    border: none;
}
#export-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#export-btn:hover {
    background-color: #0056b3;
}

.export {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

